@import '../../styles/variables/variables.scss';
@import '../../styles//mixins/mixins.scss';

nav {
  overflow: hidden;
  background: $primaryColor;
  position: fixed;
  top: 0;
  width: 100%;
  border: solid black 5px;
  img {
    height: 10vh;
    width: 10vw;
    margin-left: -2vw;
  }
  ul {
    text-align: left;
    margin: 0;
    padding: fixed;
    li {
      display: inline;
      margin: 2vw;
      @include primary--font(
        $size: 20px,
        $color: $white,
        $weight: 400,
        $ls: 2px
      );
    }
  }
}
