@import '../../styles/helper/mixins';
@import '../../styles/helper/variables';

nav {
  @include secondary--font($size: 1.5em);
  background-color: $black;
  color: $white;

  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh;

  padding: 20px;

  // LEFT ITEMS
  .nav__items_left {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;

    width: 15%;
    height: 100%;

    // EXPLORE BUTTON
    .nav__item_explore {
      text-align: center;
      padding: 8%;

      border-radius: 12%;

      cursor: pointer;

      &:hover {
        transition: all 0.3s;

        background: $white;
        color: $black;
      }
    }

    // ABOUT BUTTON
    .nav__item_about {
      text-align: center;
      padding: 8%;

      border-radius: 15%;

      cursor: pointer;

      &:hover {
        transition: all 0.3s;

        background: $white;
        color: $black;
      }
    }
  }

  // RIGHT ITEMS
  .nav__items_right {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;

    width: 15%;
    height: 100%;

    // LOGIN BUTTON
    .nav__item_login {
      text-align: center;
      padding: 8%;

      border-radius: 15%;

      cursor: pointer;

      &:hover {
        transition: all 0.3s;

        background: $white;
        color: $black;
      }
    }

    // SIGNUP BUTTON
    .nav__item_signup {
      text-align: center;
      padding: 8%;

      border-radius: 15%;

      cursor: pointer;

      &:hover {
        transition: all 0.3s;

        background: $white;
        color: $black;
      }
    }

    // SEARCH BUTTON
    .nav__item_search {
      margin-left: 15%;
    }
  }

  .nav__logo {
    img {
      color: $white;
      height: 80px;
    }
  }
}
