//Google Fonts
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
@import url('https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css')
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style-type: none;
}
