//Google Fonts
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    display: none;
  }
}

li {
  list-style-type: none;
}
