// Logo Size
// Typography
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans&display=swap');
@mixin primary--font(
  $size: false,
  $color: false,
  $weight: false,
  $lh: false,
  $ls: false
) {
  font-family: 'Fjalla One', sans-serif;
  @if $size {
    font-size: $size;
  }
  @if $color {
    color: $color;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lh {
    line-height: $lh;
  }
  @if $ls {
    letter-spacing: $ls;
  }
}

@mixin secondary--font(
  $size: false,
  $color: false,
  $weight: false,
  $lh: false,
  $ls
) {
  font-family: 'Noto Sans', sans-serif;
  @if $size {
    font-size: $size;
  }
  @if $color {
    color: $color;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lh {
    line-height: $lh;
  }
  @if $ls {
    letter-spacing: $ls;
  }
}

// Media Queries
$breakpoints: (
  'phone': 400px,
  'phone-wide': 480px,
  'phone-tablet': 560px,
  'tablet-small': 640px,
  'tablet': 768px,
  'tablet-wide': 1024px,
  'desktop': 1248px,
  'desktop-wide': 1440px
);
@mixin mediaQ($width, $type: min) {
  @if map-has-key($breakpoints, $width) {
    $width: map-get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
